.navbar {
    background-color: black;
    color: white;
    width: 200px;
    transition: all 1s linear 0ms;
}

.navbar-in {
    background-color: black;
    color: white;
    width: 200px;
}

.navbar-out {
    background-color: blue;
    color: black;
    width: 400px;
}