body {
    height: 1000px;
}
#box1 {
    background-color: grey;
    height: 100px;
    width: 100px;
    color: white;
    text-align: center;
}

.div1 {
    border: 1px solid;
    background-color: grey;
    color: azure;
    padding: 20px;
    text-align: center;
    vertical-align: center;
}

.div2 {
    border: 1px solid;
    background-color: rgb(118, 168, 214);
    color: azure;
    padding: 20px;
    text-align: center;
    vertical-align: center;
}
.div3 {
    border: 1px solid;
    background-color: grey;
    color: azure;
    padding: 20px;
    text-align: center;
    vertical-align: center;
}

#answer1,
#answer2,
#answer3 {
    background-color: azure;
    border: 2px black solid;
    margin: 0% 40%;
    color: black;
}

