
/* https://coursework.vschool.io/css-transitions/
http://css3.bradshawenterprises.com/transitions/#differentTiming

assignment:
https://coursework.vschool.io/dj-js-2/
*/


.box1 {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    /* margin: auto; */
    border: 1px solid #333;
    box-shadow: 10px 10px 5px 0 #999;
    border-radius: 10%;

    transition-property: box-shadow;
    transition-property: border-radius; transition-property: background-color;
    /* these can be strung together */
        /* transition-property: box-shadow, border-radius, background-color; */
    /* or ALL is same as using all these transition properties, or can be applied separately */
        /* transition-property: all; */
    transition-duration:  1s ease-in-out 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.3s
    /* you can also put these all together in shorthand: */
        /* transition: property, duration, timing-function, delay;    
        LIKE THIS: /*
            /* transition: all 1s ease-in-out 0.3s; */
}

.box:hover {
    box-shadow: none;
    border-radius: 0;
    background-color: cyan;
}