/* 
margin & padding
    padding - inside the element 
    margin - outside the element
    
    top (T) right (R) bottom (B) left (L)
        
    multiple methods:
        1. control individually
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        2. 
                 T R B L
        padding: 0 0 0 0;
        3.
                T&B  R&L
        margin: 10px 10px;
        4.
                ALL
        margin: 20px;
*/

/* NOT WORKING, MAKES NOTHING SHOW ON HTML PAGE
In order to use percentage widths and not have them wrap, you'll need to add the following line to the top of your CSS: */
/* * {
    box-sizing: border-box; 
    font-size: 0px;
} */

/* 
#F5C6D6
#EE2E84
#85CFD8
#8DC63F
#E76E34 
*/

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 10%;
}

.flex-item {
    width: 30%;
    height: 100px;
    background-color: #369;
    margin: 0;
}

.div1 {
    height: 100px;
    width: 80%;
    background-color: #F5C6D6;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%; 
    margin-right: 10%;
}
.div2 {
    height: 100px;
    width: 80%;
    background-color: #F5C6D6;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%; 
    margin-right: 10%;
}
.div3 {
    height: 100px;
    width: 80%;
    background-color: #F5C6D6;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%; 
    margin-right: 10%;
}
.div4 {
    height: 100px;
    width: 80%;
    background-color: #F5C6D6;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%; 
    margin-right: 10%;
}
.div5 {
    height: 100px;
    width: 80%;
    background-color: #F5C6D6;
    /* border: 3px solid blue; */
    margin: 80px; 
}
.div6 {
    height: 100px;
    width: 80%;
    background-color: #F5C6D6;
    /* border: 3px solid blue; */
    margin: 80px; 
}
.div7 {
    height: 100px;
    width: 80%;
    background-color: #F5C6D6;
    /* border: 3px solid blue; */
    margin: 80px; 
}
.div8 {
    height: 100px;
    width: 80%;
    background-color: #F5C6D6;
    /* border: 3px solid blue; */
    margin: 80px; 
}
.div9 {
    height: 100px;
    width: 80%;
    background-color: #F5C6D6;
    /* border: 3px solid blue; */
    margin: 80px; 
}